* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#container .num-round {
  position: fixed;
  left: 0;
  top: 0;
  width: 24px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 0, 0, 0.3);
}