* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#container svg {
  border-radius: 8px;
  box-shadow: 0.3em 0.3em 1em rgb(200 0 0 / 60%);
}

#container .num-round {
  position: fixed;
  left: 0;
  top: 0;
  width: 72px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.2);
}
#container .t-round {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 255, 0, 0.3);
}